<div class="flex px-24 font-serif pt-5 overflow-hidden">
    <div class="w-1/2">
        <h2 class="text-6xl leading-tight font-black text-darkBlue">We boost growth for your startup business</h2>
        <p class="text-xl pt-5">Our goal is top at the heart of creativity services industry as a digital creator. It has a after comment</p>
        <div class="flex gap-5 pt-5">
            <button class="text-white rounded-xl px-6 bg-orange text-lg font-medium">Get Started</button>
            <button class="flex items-center gap-2 text-lg font-medium"><img src="../assets/learnMore.png" class="w-1/4" alt="">Learn More</button>
        </div>
    </div>
    <div>
        <img src="../assets/hero.png" alt="">
    </div>
</div>